*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
:root{
    --body-color:#d17803;
    --nav-color: #000;
    --bg-color: #fff;
}
.dark-theme{
    --body-color: #0a0a0a;
    --nav-color: #000;
    --bg-color: #000;

}
body{
    background-color: var(--body-color) !important;
    transition: background 0.3s;
    background-image: url(images/dragon.jpg)
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--nav-color);
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    width: 90px;
    margin-right:45px;
   
}
.nav-left, .nav-right{
    display: flex;
    align-items: center;
    

}
.nav-left ul li{
    list-style: none;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
    position: relative;
    text-decoration: none;
    transition: all 0.25s linear;
    

    

}
.nav-left ul li img{
    width: 28px;
    margin: 0 15px;
}
.nav-user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;


}
.nav-user-icon{
    margin-left: 30px;
}
.search-box{
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.detail{
    margin-left: 8%;
    margin-top: 15%;
}
.detail h1{
    font-size: 40px;
    color: #212121;
    margin-bottom: 20px;
    font-weight: 800;
}
.detail h2{
    font-size: 20px;
    color: rgb(255, 123, 0);
    font-weight: 700;
}
.detail small{
    color: rgb(255, 30, 0);
}
span{
    color: orange !important;

}
.detail p{
    color: rgb(241, 12, 81);
    line-height: 22px;
}
.images{
    width: 20%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    transition: bottom 1s, left 1s;
}
.images:hover .shape{
    bottom: 40px;
}
.images:hover .kamal{
    left: 45%;
}
.social-media{
    padding: 2rem 0 0 0;  
}
.social-media p{
    color: #d0ff00;
    padding-left: 80px;
    font-size: 20px;
    font-weight: 700;
}
.social-icons{
    display: flex;
    margin-top: 1rem;
}
.social-icons a{  
    border-radius: 25px;    
    color:#fff;
    text-align: center;
    padding-left: 100px;
 
    
    font-size: 25px;
}
.social-icons a:hover{
    transform: scale(1.05);
}